
/* variables */
:root{
	--primary-color: #1aa3ff;
	--muted-color: #777;
	--muted-white-color: #ddd;
	--danger-color: #ff3333;
	--warning-color: #ff9900;
	--success-color: #00cc44; 
	--info-color: #99d6ff;
}
	


/* style default */

* {
	box-sizing: border-box; 
}

body {
	margin:0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	overflow: hidden;
}


header, nav, figure, aside, footer, article, section {
	display: block;
}

.container{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

hr{
	color: #ddd;
	margin-bottom: 1.5rem;
}


/* asset style */

/* buttons */
.btn{
	padding: 8px 12px;
	border: 0; 
	border-radius: 3px; 
}

.btn.btn-primary{
	background-color: var(--primary-color);
	color: var(--muted-white-color);
}

.btn.btn-success{
	background-color: var(--success-color);
	color: var(--muted-white-color);
}

.btn.btn-danger{
	background-color: var(--danger-color);
	color: var(--muted-white-color);
}

.btn.btn-warning{
	background-color: var(--warning-color);
	color: var(--muted-white-color);
}

.btn.btn-info{
	background-color: var(--info-color);
	color: var(--muted-color);
}

.input-group{
	margin-bottom: 1rem;
}

.input-group label{
	color: var(--muted-color);
}

.input-group .input-field{
	width: 100%;
	border: 1px solid lightgrey;
	padding: 7px 8px;
	border-radius: 3px;
	margin: 5px 0;
}

/*alert box*/
.alert{
	width: 100%;
	padding: 15px 10px;
	background-color: #eee;
	color: var(--muted-color);
}

.alert.alert-success{
	color: var(--muted-white-color);
	background-color: var(--success-color);
}

.alert.alert-danger{
	color: var(--muted-white-color);
	background-color: var(--danger-color);
}

.alert.alert-warning{
	color: var(--muted-white-color);
	background-color: var(--warning-color);
}


/* style navbar */

nav.navbar .nav-logo{
	font-weight: 900;
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	letter-spacing: 4px;
}

nav.navbar{
	max-width: 100%;
	background-color: #555;
	margin: 0;
	padding: 0 4rem;
	height: 60px;
	display: flex;
	align-items: center;
}

nav.navbar ul.nav-list{
	margin: 0;
	list-style-type: none;
	display: flex;
}

nav.navbar ul.nav-list li{
	
}

nav.navbar ul.nav-list li a{
	color: #ccc;
	text-decoration: none;
	padding: 5px 7px;
}

nav.navbar ul.nav-list li a:hover{
	color: white;
}


/* main and section */

#main{
	margin: 2rem 0;
}

#content{
	width: 80%;
	margin: auto;
	padding: 1.5rem;
}

/* card */
.card{
	padding: 0;
	border-radius: 8px;
	background-color: #eee;
	margin: 1rem 0;
}

.card .card-header, .card .card-body{
	padding: 8px 15px;
}

.card .card-header{
	background-color: var(--info-color);
	text-transform: capitalize;
}




